@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.container {
	line-height: 1.5;
	text-size-adjust: 100%;
	animation: show 2s;
}

.container ul p {
	margin: 0;
	padding: 0;
}

.projects > ul {
	display: grid;
	list-style: none;
	gap: 2rem;
	margin-top: 2.2rem;
	transition: 2s;
	animation: show 3s;
}

@media screen and (min-width: 600px) {
	.projects > ul {
		grid-template-columns: repeat(2, 248px);
	}
}

@media screen and (min-width: 900px) {
	.projects > ul {
		grid-template-columns: repeat(3, 248px);
	}
}

@media screen and (min-width: 1440px) {
	.projects > ul {
		grid-template-columns: repeat(5, 248px);
	}
}
